@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-card {
    @apply w-full bg-gray-800 rounded shadow-4;

}

.icon {
    @apply text-gray-200;
}

.location-text {
    @apply text-gray-300 font-mono;
}

html {
    background-color: theme("colors.gray.500");
    height: 100%;
}

html, body, #app {
    color: white;
    @apply font-sans;
}

body, #app {
    min-height: 100vh;
}

.include-sidebar {
    width: calc(100% - theme('spacing.256'));
}

/*input style*/
input[type = "radio"] {
    appearance: none;
    @apply w-20 h-20 rounded-full border-2 border-blue-500;
    position: relative;
    transform: translateY(0.075em);
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    @apply rounded-full bg-blue-500 inset-2;
}

input[type="checkbox"] {
    appearance: none;
    @apply w-20 h-20 rounded border-2 border-blue-500;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    @apply bg-blue-500 inset-2;
}

input[type="checkbox"]:disabled {
    @apply opacity-50 cursor-not-allowed;
}

input[type="text"] {
    @apply rounded bg-gray-100 text-gray-600 px-8;
}

.icon-animation {
    animation: ruota 2s infinite linear;
}

@keyframes ruota {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

