@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-card {
    @apply w-full bg-gray-800 rounded shadow-4;
}

.icon {
    @apply text-gray-200;
}

.location-text {
    @apply text-gray-300 font-mono;
}

html {
    background-color: theme("colors.gray.500");
    height: 100%;
}

html, body, #app {
    color: white;
    @apply font-sans;
}

body, #app {
    min-height: 100vh;
}
